@model List<MobilidadeSolidaria.Models.Equipamento>
@{
    ViewData["Title"] = "Equipamentos Disponíveis";
}
<section style="margin-top: 85px; background-color: #f3f3f3; max-width: 100%;">
    <div>
        <div class="d-flex flex-column justify-content-center align-items-center text-center my-0"
            style="height: 250px; width: 100%; background: linear-gradient(135deg, #1e3f66 45%, #4e8e3c 100%);">
            <i class="bi bi-box" style="font-size: 4rem; color:white;"></i>
            <h1 class="fw-bold d-flex align-items-center gap-2 text-white">
                Equipamentos Disponíveis
            </h1>
            <h4 class="d-flex align-items-center gap-2 text-white">
                Confira todos os itens dísponíveis para doação ou empréstimo
            </h4>
        </div>


        <div class=" container d-flex flex-wrap justify-content-center gap-4 mt-3">
            @foreach (var item in Model)
            {
                <a asp-controller="Home" asp-action="Equipamento" asp-route-id="@item.Id">
                    <div class="card mb-4" style=" max-width: 250px; ;border-radius: 10px; min-width: 250px;">
                        <div class="text-center">
                            <img src="@Url.Content(item.Fotos?.FirstOrDefault()?.ArquivoFoto ?? "~/images/default.jpg")"
                                class="card-img-top w-75 mt-2" />
                        </div>
                        <div class="card-body" style="min-height: 110px;">
                            <h5 class="card-title fw-bold">@item.Nome</h5>
                            @* <p class="card-text">
                                @(item.Descricao?.Length > 100 ? item.Descricao.Substring(0, 100) + "..." : item.Descricao)
                            </p> *@
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Disponível para @item.Status</li>
                        </ul>
                    </div>
                </a>
            }
        </div>
    </div>
</section>